@import url(mixins.css);
body {
  font-family: Arial, sans-serif;
  margin-left: 10px;
  margin-top: 0px;
  width: auto;
  background-color: #D6DCE4; }

h1, h2, h3, h4 {
  color: blue;
  font-variant: small-caps; }

.label {
  font-size: 12px;
  font-family: Arial, sans-serif;
  padding: 10px 0px 10px 0px; }

.content_padding {
  padding: 5px; }

.float_right {
  float: right; }

.float_left {
  float: left; }

*.small_button {
  background-color: skyblue;
  height: 23px;
  border: 2px solid #4C83C3;
  color: black;
  text-align: center;
  font-family: Arial, sans-serif;
  text-decoration: none;
  font-size: 14px; }

*.bold {
  font-weight: bold; }

#message {
  font-size: 12px;
  color: red; }

div.body_width {
  width: 950px;
  margin-right: auto;
  margin-left: auto;
  background-color: white; }

div.header {
  background-color: lightblue;
  background-repeat: repeat-x;
  height: 90px; }
  div.header div.title {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px; }
  div.header .user_links {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none; }
  div.header div.menu_navigation ul {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 49px;
    margin-left: -25px; }
    div.header div.menu_navigation ul li {
      background-color: skyblue;
      display: inline;
      margin-left: 5px;
      padding: 0px 5px 5px 5px;
      text-transform: capitalize;
      text-align: center;
      width: 50px; }
      div.header div.menu_navigation ul li a {
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 12px;
        color: #FFFFFF; }


div.footer {
  height: 20px;
  background-color: #CCCCCC;
  font-size: 15px;
  color: #ffffff;
  padding-top: 10px;
  text-align: center; }

div.list_table {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 40px; }
  div.list_table table {
    font-family: Arial, sans-serif;
    font-size: 15px;
    border: 1px solid #CCCCCC; }
    div.list_table table thead tr th {
      font-weight: bold;
      border: 1px solid darkgray;
      height: 30px;
      background-color: lightgrey; }
    div.list_table table tbody tr td {
      border: 1px solid darkgray;
      height: 30px;
      padding: 5px; }
