.menu_navigation
  %ul
    %li= link_to_remote "My Attendance Sheet", :update => "body_middle_content", :url => {:controller => "attendances", :action => "index"}, :method => :get
    - if current_user.admin?
      %li= link_to_remote "Create Employee", :update => "body_middle_content", :url => {:controller => "employees", :action => "new"}, :method => :get
      %li= link_to_remote "Employees List", :update => "body_middle_content", :url => {:controller => "employees", :action => "index"}, :method => :get